/aspiration_mu_eq_0.001
/aspiration_mu_eq_0.005
/aspiration_mu_eq_0.05
/aspiration_mu_eq_0.1
/fermi_mu_eq_0.001
/fermi_mu_eq_0.005
/fermi_mu_eq_0.05
/fermi_mu_eq_0.1
/introspection_mu_eq_0.001
/introspection_mu_eq_0.005
/introspection_mu_eq_0.05
/introspection_mu_eq_0.1
/moran_mu_eq_0.001
/moran_mu_eq_0.005
/moran_mu_eq_0.05
/moran_mu_eq_0.1
